.home {
  display: flex;
  flex-direction: row;
}

.transactions__container {
  width: 80vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.forms {
  border: 1px solid red;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.drop {
  background-color: #adb4b926;
  border-radius: 5px;
  cursor: pointer;
  height: 180px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

label {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border: 1px solid red;
  box-sizing: border-box;
}

.transactions {
  border: 1px solid red;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 1rem;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.table {
  box-sizing: border-box;
  width: 50%;
  border: 1px solid green;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.visualization {
  box-sizing: border-box;
  width: 50%;
  border: 1px solid blue;
  height: 100%;
  padding: 1rem;
}

.transactions__list {
  overflow: auto;
  border: 1px solid yellow;
  margin-top: 10px;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
}

.transaction {
  padding-block: 10px;
  border: 1px solid #e3e3e39e;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e3e3e39e;
}

::-webkit-scrollbar-thumb {
  background-color: #d9fe60;
  border-radius: 4px;
  border: 1px solid transparent;
}
