@import '../variables.module.scss';

h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid $primary-color;
}
.content {
  width: 80vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

table {
  width: 100%;
  margin-bottom: 20px;

  thead {
    th {
      width: 200px;
      align-items: center;
      border: 1px solid $primary-color;
      padding-top: 8px;
    }
  }

  td,
  tr {
    border: 1px solid $primary-color;
    height: 30px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
  }
}

.home {
  display: flex;
  flex-direction: row;
}

.user {
  padding: 10px;
  border: 1px solid $grey;
  border-radius: 4px;
  cursor: pointer;
}

.user:hover {
  padding: 10px;
  border-radius: 4px;
  background-color: $grey-dark;
  cursor: pointer;
}

.user__role {
  padding: 2px 12px;
  font-size: 13px;
  border-radius: 34px;
  margin-inline: 10px;
  color: white;
  font-weight: 500;
}

.Criador {
  @extend .user__role;
  background: $user-creator;
}
.Afiliado {
  @extend .user__role;
  background: $user-sell;
}
