@import '../variables.module.scss';

.home {
  display: flex;
  flex-direction: row;
}

.content {
  width: 80vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

table {
  width: 100%;

  thead {
    th {
      width: 200px;
      align-items: center;
    }
  }

  td,
  tr {
    height: 40px;
    text-align: center;
    align-items: center;
  }
}

.home {
  display: flex;
  flex-direction: row;
}

.user {
  padding: 10px;
  border: 1px solid #e3e3e39e;
  border-radius: 4px;
  background-color: #cecece33;
  cursor: pointer;
}

.user:hover {
  padding: 10px;
  border: 1px solid #e3e3e39e;
  border-radius: 4px;
  background-color: #a3a2a233;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e3e3e39e;
}

::-webkit-scrollbar-thumb {
  background-color: #d9fe60;
  border-radius: 4px;
  border: 1px solid transparent;
}

.user__product {
  font-size: 16px;
  letter-spacing: 1px;
  margin-block: 10px;
}

.user__balance,
.user__name,
.user__creatorName {
  margin-block: 15px;
  font-size: 15px;
}

.user__role {
  padding: 2px 12px;
  font-size: 13px;
  border-radius: 34px;
  margin-left: 15px;
  color: white;
  font-weight: 500;
}
.productor {
  @extend .user__role;
  background: rgb(215, 118, 134);
}
.user__role2 {
  @extend .user__role;
  background: rgb(118, 134, 215);
}
