@import '../variables.module.scss';

.home {
  padding: 4rem 2rem;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;

    h1 {
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $primary-color;
    }

    hr {
      width: -webkit-fill-available;
      margin-block: 1rem 2rem;
      border-bottom: 2px solid $primary-color;
    }

    table {
      width: 100%;
      margin-bottom: 20px;

      thead {
        th {
          width: 200px;
          align-items: center;
          border: 1px solid $grey;
          padding-top: 8px;
          font-weight: 500px;
          letter-spacing: 1px;
          color: $primary-color;

          &:first-child {
            width: 50px;
            text-transform: uppercase;
          }
        }
      }

      tbody {
        tr {
          height: 60px !important;
          border: 1px solid $grey;

          td {
            height: 100%;
            vertical-align: middle;
            text-align: center;
          }

          .creator {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
              padding: 2px 15px;
              font-size: 14px;
              border-radius: 34px;
              color: white;
              text-align: center;
              background: $user-creator;
              width: 50px;
            }
          }

          .affiliated {
            @extend .creator;
            p {
              background: $user-sell;
            }
          }

          &:hover {
            background-color: $drop-background;
            cursor: pointer;
          }
        }
      }
    }
  }
}
