@import '../../app/variables.module.scss';

.sidebar {
  background-color: $primary-color;
  width: 17rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4rem;
  box-sizing: border-box;
  align-items: stretch;
  box-shadow: 1rem 0 1rem rgba($black, 0.2);

  .logo {
    margin: 0 auto;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg {
      width: 85%;
      fill: $white;
    }

    p {
      color: $white;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 5px;
    }
  }

  hr {
    margin: 1rem;
    box-sizing: border-box;
  }

  .sidebarSVG {
    width: 20px;
    height: 20px;
    fill: $svg-fill;
    margin-right: 10px;
  }

  .buttons {
    margin-top: 1rem;
    .link {
      text-decoration: none;
      cursor: pointer;

      &:has(button.selected) {
        pointer-events: none;
      }

      button {
        border: none;
        background: transparent;
        color: $grey-border;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 12rem;
        padding: 0.5rem;

        &.selected {
          pointer-events: none;
          background: $white;
          color: $primary-color;
          border-top-right-radius: 26px;
          border-bottom-right-radius: 26px;

          .sidebarSVG {
            fill: $primary-color;
          }
        }
      }
    }
  }
}
