@import '../variables.module.scss';

.home {
  padding: 4rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  overflow: auto;

  .container {
    z-index: 1;
    width: 80vw;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $primary-color;
      }

      .forms {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: flex-end;

        .drop {
          background-color: $drop-background;
          border-radius: 5px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          display: flex;
          width: 30rem;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            label {
              filter: brightness(0.8);
            }
          }

          label {
            cursor: pointer;
            color: $label;
            justify-content: center;
            box-sizing: border-box;
            padding: 0.5rem 0;

            .fileSVG {
              width: 40px;
              height: 30px;
              fill: $label;
            }

            .updateFileSVG {
              display: flex;
              align-items: center;
            }
          }
        }

        .upload {
          background-color: $primary-color;
          border-radius: 8px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: 0;
          color: $black;
          cursor: pointer;
          letter-spacing: 2px;
          justify-content: center;
          text-transform: uppercase;
          color: $white;
          padding: 0 2rem;
          font-weight: bold;

          &:disabled {
            color: black;
            cursor: not-allowed;
            opacity: 0.3;
          }

          &.attention {
            outline: 2px solid red;
            animation: 1s animate-attention ease-in-out infinite;
          }
        }
      }
    }

    .transactions {
      box-sizing: border-box;
      width: 100%;
      padding: 1rem;
      gap: 20px;
      display: flex;
      flex-direction: row;
      border: 1px solid $grey;
      flex-grow: 1;
      overflow: auto;
      > * {
        width: 50%;
      }

      .table {
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $primary-color;
        overflow: auto;

        .header {
          p {
            em {
              font-weight: bold;
            }
          }
        }

        .transactions__list {
          overflow: auto;
          margin-top: 10px;
          height: 100%;
          display: flex;
          padding-right: 0.5rem;
          flex-direction: column;
          gap: 5px;
          box-sizing: border-box;

          .transaction {
            padding: 10px;
            border: 1px solid $grey;
            border-radius: 4px;
            background-color: $grey-dark;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
              padding: 10px;
              border: 1px solid $grey;
              border-radius: 4px;
              background-color: $grey-dark;
              cursor: pointer;
            }

            &.selected {
              background: $primary-color;
              color: $white;
            }
          }

          .no__transaction {
            height: 100%;
            border: 1px double $grey;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $grey;
            box-sizing: content-box;
            flex-direction: column;

            p {
              color: $label;
            }
          }
        }
      }

      > .visualization {
        box-sizing: border-box;
        height: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .no__data {
          display: flex;
          flex-direction: column;
          align-items: center;

          svg {
            height: 10rem;
            path {
              fill: $primary-color;
            }
          }

          span {
            display: block;
            margin-top: 1rem;
            max-width: 15rem;
            text-align: center;
            color: $primary-color;
            font-style: italic;
          }
        }

        .visualization__transaction {
          .product {
            color: $primary-color;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 1px;
            border-bottom: 1px solid $primary-color;
            margin-bottom: 1rem;
            padding-bottom: 0.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .value,
          .date,
          .sellerName,
          .affiliated {
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            span {
              color: $primary-color;

              &:nth-child(2) {
                font-weight: 100;
              }
            }
          }
        }
      }
    }
  }

  @keyframes animate-attention {
    from {
      outline-offset: 0;
      outline-color: rgba(red, 1);
    }

    to {
      outline-color: rgba(red, 0);
      outline-offset: 0.4rem;
    }
  }

  .type {
    padding: 0.5rem;
    font-size: 13px;
    border-radius: 34px;
    color: white;
    font-weight: 500;
    min-width: 7rem;
    text-align: center;
  }
  .type1 {
    @extend .type;
    background: $user-creator;
  }
  .type2 {
    @extend .type;
    background: $user-sell;
  }
  .type3 {
    @extend .type;
    background: $pag;
  }
  .type4 {
    @extend .type;
    background: $received;
  }
}
